<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <display-name>MyServlets</display-name>
    <servlet>
        <servlet-name>ServletFruit</servlet-name>
        <servlet-class>rest.servlets.FruitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletFruit</servlet-name>
        <url-pattern>/fruit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletSellers</servlet-name>
        <servlet-class>rest.servlets.SellersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSellers</servlet-name>
        <url-pattern>/sellers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletSuppliers</servlet-name>
        <servlet-class>rest.servlets.SuppliersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSuppliers</servlet-name>
        <url-pattern>/suppliers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletFruitId</servlet-name>
        <servlet-class>rest.servlets.FruitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletFruitId</servlet-name>
        <url-pattern>/fruit/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletSellersId</servlet-name>
        <servlet-class>rest.servlets.SellersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSellersId</servlet-name>
        <url-pattern>/sellers/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletSuppliersId</servlet-name>
        <servlet-class>rest.servlets.SuppliersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSuppliersId</servlet-name>
        <url-pattern>/suppliers/*</url-pattern>
    </servlet-mapping>
</web-app>
